<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlliNMobileSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CommonCryptoModuleMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FD0D5AD1EDDB6D300849129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE8B4831EDF3DA70002E82C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FF998031EDDD5EB0024F8A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
